---
layout: base.njk
---
<section>
    <small>
        <a href="/">Home</a>
    </small>
    <small>/</small>
    <small>
        <a href="/api/reference">API Reference</a>
    </small>
</section>
<article>
    {{ content | safe }}
</article>