<!DOCTYPE html>
<html>

<head>
	<title>Taiko Documentation</title>
	<link rel="stylesheet" type="text/css" href="/assets/css/styles.css">
	<meta name="viewport" content="width=device-width, initial-scale=1">

</head>

<body>
	<header>
		<h1 class="header-text">Taiko Documentation</h1>
		<form class="search">
		 <input type="text" id="search" placeholder="Search Taiko Docs" />
		</form>
	</header>

	<article>
	{{ content | safe }}
	</article>

</body>
</html>
