<!DOCTYPE html>
<html>

	<head>
		<meta name="robots" content="noindex">
		<title>Taiko Documentation</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		{% set css %}
		  {% include "styles.css" %}
		{% endset %}
		<style>
		{{ css | cssmin | safe }}
		</style>
	</head>

	<body>
		<header>
			<h1 class="header-text">Taiko Documentation</h1>
			<form class="search">
				<input type="text" id="search" placeholder="Search Taiko Docs"/>
			</form>
		</header>

		<article>
			{{ content | safe }}
		</article>

		<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/docsearch.js@2/dist/cdn/docsearch.min.js"></script>
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/docsearch.js@2/dist/cdn/docsearch.min.css"/>

		<script>
			(function algoliaSearch() {
				docsearch({
					apiKey: 'b36d75c493b44a8f2605db66708a283b', indexName: 'taiko', inputSelector: '#search', debug: false 
				});
			})();
		</script>
		<div style="text-align:center">𝆒𝆓</div>
	</body>
</html>