---
layout: base.njk
---
<section>
  <small>
    <a href="/">Home</a>
  </small>
</section>
<article>
  <h1 style="text-transform: capitalize">{{ page.url | heading }}</h1>
  <aside>
    {{ content |  toc | safe }}
  </aside>
  {{ content | safe }}
</article>