@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

/* Global Styles */

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1.8;
  color: #25282D;
  background: #fcfcfc;
  margin: 0;
}

/*  Global Default Header Styles */

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Poppins', sans-serif;
  line-height: 1.5;
  color: #25282D;
  text-rendering: geometricPrecision;
  font-weight: normal;
  font-style: normal;
  margin-top: 2em;
}

h1 {
  margin-top: 1em;
  font-size: 2em;
}

a,
a:visited,
a:active {
  color: #25282D;
  font-weight: 600;
}

a:hover {
  text-decoration: underline;
}

img {
  max-width: 40em;
  border: 0;
  margin-left: auto;
  margin-right: auto;
}

p {
  margin: 1em 0;
}

li {
  line-height: 2;
}

blockquote {
  border-left: 5px solid #2BD3EF;
  margin-inline-start: 0;
  padding-left: 1em;
}

header {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 320px;
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAxNTAwIDUwMCI+PGRlZnM+PHN0eWxlPi5jbHMtMXtmaWxsOiMyYmQzZWY7fS5jbHMtMntmaWxsOm5vbmU7c3Ryb2tlOiNmZmY7c3Ryb2tlLW1pdGVybGltaXQ6MTA7c3Ryb2tlLXdpZHRoOjVweDt9PC9zdHlsZT48L2RlZnM+PGcgaWQ9IkxheWVyXzIiIGRhdGEtbmFtZT0iTGF5ZXIgMiI+PGcgaWQ9IkxheWVyXzEtMiIgZGF0YS1uYW1lPSJMYXllciAxIj48cmVjdCBjbGFzcz0iY2xzLTEiIHdpZHRoPSIxNTAwIiBoZWlnaHQ9IjUwMCIvPjxjaXJjbGUgY2xhc3M9ImNscy0yIiBjeD0iNzUwLjUiIGN5PSIyNTAuNSIgcj0iMjEzIi8+PC9nPjwvZz48L3N2Zz4=");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  justify-content: center;
  align-items: center;
  margin-bottom: 2em;
}

header h1 {
  font-size: 48px;
  text-align: center;
  line-height: 1;
}

/* single-column content page layout width */

article,
footer,
section {
  max-width: 46em;
  background: white;
  padding: 1em 1em 1em 2em;
  margin: 1em auto;
}

.home-section a {
  color: #25282D;
}

.home-section ul {
  list-style: none;
  columns: 15em;
}

.home-section ul li::before {
  content: "\2022";
  color: #2BD3EF;
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}

/* Search Form Style - Homepage */

form.search {
  padding: 0;
  width: 46em;
}

form.search input {
  box-sizing: border-box;
  width: 100%;
  outline: none;
  padding-left: 20px;
  height: 60px;
  font-size: 16px;
}

form.search label {
  line-height: 1.5;
  font-size: 14px;
  font-weight: normal;
  font-family: 'Open Sans';
}

form.search img {
  vertical-align: baseline;
}

form.search input::placeholder {
  font-style: italic;
  color: #999999;
}

/* Small screen overrides */

@media (max-width: 600px) {

  .header-text {
    font-size: 34px;
    max-width: 300px;
  }

  form.search {
    padding: 0;
    width: 90%;
  }

}

ul,
ol {
  list-style: none;
  padding-inline-start: 20px;
  margin-bottom: 2em;
  padding-inline-start: 20px;
}

.home-section ul {
  columns: 15em;
}

li::before {
  content: "\2022";
  color: #2BD3EF;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}

a.direct-link {
  font-size: medium;
}

code {
  padding: 2px 3px;
  background-color: #e6e6e6;
}

article hr {
  height: 1px;
  background-color: lightgrey;
  border: none;
}

html {
  height: 100%;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  position: relative;
  margin: 0;
  padding-bottom: 6rem;
  min-height: 100%;
}

span {
  width: 100%;
}

pre code {
  font-family: 'Roboto Mono', monospace;
  background: #222222;
  color: #fff;
  display: block;
  padding: 15px;
  overflow: auto;
}

.footer {
  display: flex;
  flex-flow: row wrap;
  font-size: smaller;
  justify-content: space-between;
}

.params, .returns {
  display: flex;
  line-height: 1;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-between;
}

.params .name {
  flex: 1 0;
}

.params .type, .returns .type {
  flex: 1 0;
}

.params .description {
  flex: 2 0;
}

.returns .description {
  flex: 3 0;
}

.api-body {
  display: flex;
  flex-flow: row wrap;
}

.api-body > .content {
  flex: 3 0 content;
}

.api-body > .nav {
  flex: 1 0 content;
  padding-left: 10em;
}

@media(max-width:800px) {
  article,
  footer,
  section {
    background: white;
    padding: 15px;
  }

  .api-body {
    max-width: 100%;
  }
}

@media(max-width:800px) {
  article,
  footer,
  section {
    background: white;
    padding: 15px;
  }

  .api-body {
    max-width: 100%;
  }

  .params, .returns {
    display: inline;
  }
}