# top-most EditorConfig file
root = true

[*]
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
charset = utf-8
indent_style = space
indent_size = 2

[*.{md,adoc}]
indent_size = 4

# Tab indentation (no size specified)
[Makefile]
indent_style = tab
