{
  "env": {
    "es6": true,
    "node": true,
    "browser": true,
    "mocha": true,
    "jest/globals": true
  },
  "ignorePatterns": [".local-chromium", "node_modules/", "test/functional-tests/reports/", "docs"],
  "extends": ["eslint:recommended", "prettier"],
  "parserOptions": {
    "sourceType": "module",
    "ecmaVersion": 9
  },
  "plugins": ["jest", "prettier"],
  "rules": {
    "prettier/prettier": [
      "error"
    ],
    "no-control-regex" : 0,
    "quotes": [
      "error",
      "single",
      "avoid-escape"
    ],
    "no-constant-condition": [
      "error",
      {
        "checkLoops": false
      }
    ],
    "no-empty": [
      "error",
      {
        "allowEmptyCatch": true
      }
    ],
    "semi": [
      "error",
      "always"
    ],
    "no-console": 0,
    "curly": 2,
    "require-atomic-updates": 0
  }
}