{
  "env": {
    "es6": true,
    "node": true,
    "browser": true,
    "mocha": true,
    "jest/globals": true
  },
  "extends": "eslint:recommended",
  "parserOptions": {
    "sourceType": "module",
    "ecmaVersion": 8
  },
  "plugins": ["jest"],
  "rules": {
    "no-control-regex" : 0,
    "indent": [
      "error",
      4
    ],
    "linebreak-style": [
      "error",
      "unix"
    ],
    "quotes": [
      "error",
      "single"
    ],
    "no-constant-condition": [
      "error",
      {
        "checkLoops": false
      }
    ],
    "no-empty": [
      "error",
      {
        "allowEmptyCatch": true
      }
    ],
    "semi": [
      "error",
      "always"
    ],
    "no-console": 0
  }
}