# Node.js
# Build a general Node.js project with npm.
# Add steps that analyze code, save build artifacts, deploy, and more:
# https://docs.microsoft.com/azure/devops/pipelines/languages/javascript

pr:
- master

variables:
  GAUGE_TELEMETRY_ENABLED: false

jobs:
- job: Linux
  pool:
    vmImage: 'Ubuntu-16.04'

  steps:
  - task: NodeTool@0
    inputs:
      versionSpec: '10.x'
 
  - script:
      npm install
  
  - script:    
      npm test
  
  - script:    
      npm run test-functional

- job: macOS
  pool:
    vmImage: 'macOS-10.13'

  steps:
  - task: NodeTool@0
    inputs:
      versionSpec: '10.x'

  - script:
      npm install
      
  - script:    
      npm test

  - script:    
      npm run test-functional

- job: Windows
  pool:
    vmImage: 'vs2017-win2016'

  steps:
  - task: NodeTool@0
    inputs:
      versionSpec: '10.x'

  - powershell:
      npm install

  - powershell:
      npm test:api

  - powershell:
      npm test:unit

  - powershell:    
      npm run test-functional