# Node.js
# Build a general Node.js project with npm.
# Add steps that analyze code, save build artifacts, deploy, and more:
# https://docs.microsoft.com/azure/devops/pipelines/languages/javascript

pr:
  - master

variables:
  GAUGE_TELEMETRY_ENABLED: false

jobs:
  - job: Linux
    pool:
      vmImage: 'Ubuntu-16.04'
    strategy:
      matrix:
        node_8_x:
          node_version: 8.x
        node_10_x:
          node_version: 10.x
        node_12_x:
          node_version: 12.x

    steps:
      - task: NodeTool@0
        inputs:
          versionSpec: $(node_version)

      - script: npm install

      - script: npm test

      - script: npm run examples

      - script: npm run test-functional

      - publish: $(System.DefaultWorkingDirectory)/test/functional-tests/reports/html-report
        artifact: Report-linux
        condition: always()

  - job: macOS
    pool:
      vmImage: 'macOS-10.13'

    steps:
      - task: NodeTool@0
        inputs:
          versionSpec: '10.x'

      - script: npm install

      - script: npm test

      - script: npm run examples

      - script: npm run test-functional

      - publish: $(System.DefaultWorkingDirectory)/test/functional-tests/reports/html-report
        artifact: Report-mac 
        condition: always() 

  - job: Windows
    pool:
      vmImage: 'vs2017-win2016'

    steps:
      - task: NodeTool@0
        inputs:
          versionSpec: '10.x'

      - powershell: npm install

      - powershell: npm run test:api

      - powershell: npm run test:unit

      - powershell: npm run examples

      - powershell: npm run test-functional

      - publish: $(System.DefaultWorkingDirectory)/test/functional-tests/reports/html-report
        artifact: Report-windows  
        condition: always()
