* {
  font-family: "Open Sans";
}

h1 {
  font-family: "URWGeometric-ExtraBold";
}

h2, h3 {
  font-family: "URWGeometric-SemiBold";
  color: rgb(51, 51, 51);
}

p {
  color: rgb(85, 85, 85);
  font-size: 16px;
}

li a {
  color: rgb(85, 85, 85);
}

nav {
  position: relative;
  background: #1e1e1e;
  color: #fff;
  height:65px;
  border-bottom: 5px solid #ffcc00;
  position: fixed;
  width: 100%;
  z-index: 150;
}

.logo {
  height: 65px;
  font-family: "URWGeometric-ExtraBold";
  font-size: 40px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #fff;
  line-height: 75px;
  padding: 0px 30px; 
  margin: 0;
}

.logo:hover, .logo:active, .logo:focus{
  color: #fff;
  text-decoration: none;
}

.main {
  padding: 0px 40px;
  background: rgba(255,255,255,0.5);
  -webkit-box-shadow: 0 0 20px #d2d2d2;
  box-shadow: 0 0 20px #d2d2d2;
}

.nav-list {
  font-size: 17px;
}


.flex-container {
  display: flex;
  flex: 1 1 auto;
  flex-wrap: wrap;
  position: relative;
  z-index: 99;
  padding: 0;
}

.sidebar {
  flex: none;
  display: block;
  width: 100%;
  height: 100vh ;
  position: fixed;
  left: -100%;
  top: 65px;
  background: white;
  transition: all 0.25s linear;
  z-index: 100;
  overflow-y:scroll; 
  height: 100vh;
  border-right: 1px solid #ccc;
}

.sidebar-show {
  left: 0;
}

@media (min-width: 768px) {
  .sidebar {
    width: 320px;
    display: flex;
    position: fixed;
    left: 0;
    top: 65px;
  }
}

.main-content {
  flex: 6;
  margin: 150px auto;
  height: auto;
}

@media (min-width: 768px) {
  .main-content {
    margin: 56px auto 56px 300px;
  }

}

@media (min-width: 1200px) {
  .main-content {
    padding: 50px 200px 50px 50px !important;
  }  
}


.sidebar-header-2 { 
  margin-left: 10px; 
  padding: 10px;
  border-left: 1px dashed #ccc;
  transition: all 0.25s linear;
  font-size: 14px;
}

.sidebar-header-2 a {
  display: block;
  width: 100%;
  border-bottom: 2px solid #fff;
  transition: all 0.25s;
}

.sidebar-header-2 a:hover {
  background-color: transparent !important;
  color: rgb(85, 85, 85);
  border-bottom: 2px solid rgb(245, 193, 14);
  text-decoration: none;
  font-weight: 600;
}

.active {
  background-color: transparent !important;
  border-bottom: 2px solid rgb(245, 193, 14) !important;
  color: rgb(85, 85, 85);
  font-weight: 600;
  text-decoration: none;
}

.scrollable {
  overflow-y: scroll;
  padding: 50px 33px;
  width: 100%;
}

.get-started {
  margin: 65px 0px;
}

.banner-heading {
  font-size: 36px;
  font-family: "URWGeometric-ExtraBold";
  color: #1E1E1E;
}

.banner-text-container_desc {
  font-size: 16px;
}

.highlight {
  padding: 2px 3px;
  border-radius: 3px;
  font-size: 12px;
}

code, .highlight  {
  font-family: 'SourceCodePro-Regular';
  color: #1e1e1e;
  background-color: #ececec;
  text-decoration: none;
}

code pre, .hljs {
  font-family: 'SourceCodePro-Regular';
  background: #222222;
  color: #fff;
  font-size: 16px;
}

.code-section code {
  position: relative;
  display: block;
  background-color: transparent;
}

.code-section code pre {
  padding: 15px;
  white-space: normal;
}

.list  li {
  line-height: 2;
}

.menu-title{
  font-size: 14px;
  color: #999999;
  text-transform: uppercase;
  font-family: "Open Sans";
  font-weight: Bold;
} 

.collapsible-header {
  margin-top: 0px;
}

.collapsible-header a{
  color: rgb(51, 51, 51);
  text-decoration: none;
  font-size: 14px;
}

.collapse-header_text {
  padding-bottom: 5px;
}

.collapsible-header a:hover, .collapsible-header a:focus {
  color: rgb(51, 51, 51);
  text-decoration: none;
  font-weight: 400;
}

.collapse-icon {
  display: inline-block;
  font-size: 12px;
  border: 1px solid #ccc;
  height: 18px;
  width: 18px;
  text-align:center;
  line-height: 16px;
}

.contribute-link, .contribute-link:hover {
  color: #555555;
  text-decoration: none;
} 

.hamburger {
  outline: none;
  border: none;
  background: transparent;
  position: absolute;
  right: 30px;
  top: 30px;
}

@media (min-width: 768px)  {
  .hamburger {
    display: none;
  }
}

.hamburger_line {
  width: 25px;
  height: 1px;
  margin: 5px auto;
  background: #000;
}

.content-section h2 {
  margin: 75px 0px 0px;
}

.search-bar {
  width: 100%;
  position: fixed;
  padding: 25px 0;
  background: #fff;
  z-index: 1000;
  top: 60px;
  border-bottom: 1px solid #ccc;
}

.search-form {
  position: relative;
  padding: 0px 20px;
}

#search  {
  border-radius: 3px;
  width: 80%;
  position: relative;
  background: transparent;
  display: block;
  margin: 0;
  outline: none;
  border: 1px solid #CCCCCC;
  box-shadow: none;
  padding: 8px;
}

.search-label {
  position: absolute;
  left: 46px;
  top: 8px;
  line-height: 1.5;
  color: #999999;
  font-size: 14px;
  font-weight: normal;
  font-family: 'Open Sans';
}

.search-icon {
  vertical-align: baseline;
}

@media (min-width: 768px) {
  .search-bar {
    width: 319px;
    top: 65px;
  } 

  #search {
    width: 90%;
    margin: 0 auto;
  }
}


.menu-list {
  margin: 100px 0px 185px;
  padding: 20px 33px;
  background-color: #fff;
}

.sidebar-footer {
  position: relative;
  bottom: 60px;
  margin: 0px 33px;
  padding: 15px 0px;
  background: #fff;
  z-index: 15;
  border-top: 1px solid #CCCC;
  width: 266px;
}

@media (min-width: 768px) {
  .sidebar-footer {
    position: fixed;
    bottom: 4px;
  }
}

.powered-by {
  color: #333333;
  font-size: 12px;
}

.license-text {
  color: #999999;
  font-size: 10px;
}

.content-section h2 {
  margin: 75px 0px 0px;
}

.note {
  border: 1px solid #FFCC00;
  padding: 10px;
  margin: 10px 0;
  border-radius: 3px;
  border-left: 3px solid #FFCC00;
}

.note-heading {
  font-weight: bold;
}

.hightlight::hover {
  text-decoration: none;
}

.hljs-keyword {
  font-family: 'SourceCodePro-Bold';
  color: #fff;
}

.hljs-string {
  font-family: 'SourceCodePro-Regular';
  color: #ffcc00;
}

.hljs-number {
  color: #61cde1;
}

.algolia-autocomplete {
  width: 100%;
}

/* Github Icon */

.github {
  position: absolute;
  right: 50px;
  top: 50%;
  width: 100px;
  transform: translate(0, -50%);
  display: flex;
}

.github-icon {
  width: 20px;
  height: 20px;
  margin: 3px auto;
}

.star-count {
  border: 1px solid #fff;
  border-radius: 25px;
  width: 75px;
  margin: 0px 10px;
}

.github-star {
  width: 12px; 
  height: 12px;
  margin: 5px;
  vertical-align: text-bottom;
}

.github-count {
  color: #fff;
  font-size: 12px;
  line-height: 2;
}

@media (min-width: 768px) {
  .github { 
    width: 125px;
  }

  .github-icon {
    width: 32px;
    height: 32px;
    margin: 0 auto;
  }

  .star-count {
    border: 1px solid #fff;
    border-radius: 25px;
    width: 60%;
  }

  .github-count { 
    font-size: 14px;
  }
}


.scroll-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 1);
  width: 50px;
  height: 50px;
  display: block;
  text-decoration: none;
  -webkit-border-radius: 35px;
  -moz-border-radius: 35px;
  border-radius: 35px;
  display: none;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  z-index: 1000;
}

.scroll-top_icon {
  display: inline-block;
  border-right: 4px solid #f5c10e;
  border-bottom: 4px solid #f5c10e;
  width: 20px;
  height: 20px;
  transform: rotate(-135deg);
  margin: 16px 0px 0px 14px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.main-content h3, .content-section h2 {
  position: relative;
  cursor: pointer;
}


.link-icon {
  position: absolute;
  left: -20px;
  top: 82px;
  height: 18px;
  width: 18px;
  background-image: url('../images/anchor.svg');
  transition: all 0.25s;
  opacity: 0;
  text-decoration: none;
}


.content-section h2 .link-icon{
  top: 88px;
}

h2:hover .link-icon, h3:hover .link-icon{
  opacity: 1;
} 

.grey {
  color: #999999;
}

.hljs {
  position: relative;
}

.copyBtn {
  position: absolute;
  width: 44px;
  height: 20px;
  background: #D8D8D8;
  outline: none;
  border: none;
  font-size: 13px;
  font-family: 'SourceCodePro-Medium';
  color: #1E1E1E;
  right: 15px;
  top: 15px;
  border-radius: 3px;
  transition: all 0.25s;
  display:none;
}

@media (min-width: 768px) {
  .copyBtn {
    display: block;
  }
}

.copyBtn:hover {
  opacity: 0.8;
}

.copied-text {
  position: absolute;
  font-size: 13px;
  font-family: 'SourceCodePro-Medium';
  color: grey;
  right: 63px;
  top: 16px;
  display: none;
}

.codeBox {
  opacity: 0;
}


section h2::before, .sub-section h3::before, .content-section h2::before {
  content: '';
  display: block;
  height: 80px;
  margin-top: -80px;
  visibility: hidden;
}

.sub-section {
  margin: 10px auto 60px;
}

.white {
  color: #fff;
  font-family: 'SourceCodePro-Regular';
  font-size: 14px;
  width: 85%;
  display: block;
}

.desc-list {
  font-size: 16px;
  line-height: 1.5;
}

.img-responsive {
  margin: 30px auto 40px;
}