.main {
  padding: 0px 40px;
  background: rgba(255,255,255,0.5);
  -webkit-box-shadow: 0 0 20px #d2d2d2;
  box-shadow: 0 0 20px #d2d2d2;
}

.nav-list {
  font-size: 17px;
}

.sidebar-header-2 { margin-left: 10px; }

.scrollable {
  max-height: 815px;
  overflow-y: scroll;
}
