@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

@font-face {
  font-family: 'PoppinsLatin-Bold';
  src: url('../fonts/poppins-latin/Poppins-Bold.ttf') format('truetype'),
       url('../fonts/poppins-latin/Poppins-Bold.otf') format('opentype');
}

@font-face {
  font-family: 'PoppinsLatin-Medium';
  src: url('../fonts/poppins-latin/Poppins-Medium.ttf') format('truetype'),
       url('../fonts/poppins-latin/Poppins-Medium.otf') format("opentype");
}

@font-face {
  font-family: 'PoppinsLatin-SemiBold';
  src: url('../fonts/poppins-latin/PoppinsLatin-SemiBold.ttf') format('truetype'),
       url('../fonts/poppins-latin/PoppinsLatin-SemiBoldItalicm.otf') format("opentype");
}

/* Global Styles */

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1.8;
  color: #25282D;
  background: #fcfcfc;
  margin: 0;
}

/*  Global Default Header Styles */

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'PoppinsLatin-SemiBold';
  line-height: 1.5;
  color: #25282D;
  text-rendering: geometricPrecision;
  font-weight: normal;
  font-style: normal;
  margin: 0;
}

h1 {
    font-size: 2.125em;
}

h2 {
  font-size: 1.6875em;
  margin-top: 2em;
  border-spacing: 2em;
}


h4 {
  font-size: 1.125em;
}

h5 {
  font-size: 1.125em;
}

h6 {
  font-size: 1em;
  color: #2bd3ef;
}

ul {
  padding-inline-start: 20px;
}

a, a:visited, a:active {
  text-decoration: none;
  color: #0e7c9d;
  font-weight: 600;
}

a:hover {
  text-decoration: underline;
}

img {
  max-width: 830px;
  border: 0;
  margin-left: auto;
  margin-right: auto;
}

p {
  margin: 1em 0;
  text-align: justify;
  text-justify: inter-word;
}

code,
kbd,
pre,
samp {
  font-family: monospace, serif;
}

pre {
  white-space: pre-wrap;
}

li {
  line-height: 2;
}

pre,
pre>code {
font-family: monospace;
background: #25282D;
color: #fff;
font-size: 16px;
display: block;
padding: 10px;
}

blockquote {
  border-left: 5px solid #2BD3EF;
  margin-inline-start: 0;
  padding-left: 1em;
}

header {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 320px;
/*  background: #2BD3EF;*/
  background-image: url("../images/background.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  justify-content: center;
  align-items: center;
  margin-bottom: 2em;
}

header h1 {
  font-size: 48px;
  margin-bottom: .5em;
  text-align: center;
  line-height: 1;
}

/* single-column content page layout width */

article {
  max-width: 40em;
  background: white;
  padding: 2em;
  margin: 1em auto;
}

.home-section a {
  color: #25282D;
}

.home-section ul {
  list-style: none;
  columns-count: 2;
}

.home-section ul li::before {
  content: "\2022";
  color: #2BD3EF;
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}

/* Search Form Style - Homepage */

form.search {
  padding: 0;
  width: 50%;
}

form.search input {
  box-sizing: border-box;
  width: 100%;
  outline: none;
  padding-left: 20px;
  height: 60px;
  font-size: 16px;
}

form.search label {
  line-height: 1.5;
  font-size: 14px;
  font-weight: normal;
  font-family: 'Open Sans';
}

form.search img {
  vertical-align: baseline;
}

form.search input::placeholder {
  font-style: italic;
  color: #999999;
}

/* Small screen overrides */

@media (max-width: 600px) {
  
  .header-text {
    font-size: 34px;
    max-width: 300px;
  }

  form.search {
  padding: 0;
  width: 90%;
  }

}

aside ol {
  list-style: none;
  padding-inline-start: 20px;
  margin-bottom: 2em;
  columns: 15em;
}

aside a, a:visited {
  color: #25282D;
}

aside ol li::before {
  content: "\2022";
  color: #2BD3EF;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}

h1 {
  text-transform: capitalize;
}

pre {
 margin-top: 2em;
 margin-bottom: 2em;
}

a.direct-link {
  font-size: medium;
}

code {
  font-size: 14px;
  border-radius: 3px;
  padding: 2px 3px;
  background-color: #e6e6e6;
}