name: update-chromium
on:
  schedule:
    # cron job that will run 1st and 15th of every month by 12am
    - cron:  '0 12 1,15 * *'

jobs:
  update-to-latest-chromium:

    runs-on: ubuntu-latest

    steps:
      - name: Checkout branch
        uses: actions/checkout@v2

      - name: Get Chromium version and update
        run: |
          node updateChromium.js
      - name: Create Pull Request
        uses: peter-evans/create-pull-request@v2
        with:
          token: ${{ secrets.GAUGEBOT_GITHUB_TOKEN }}
          branch: ${{format('{0}{1}', 'update-chromium',env.REVISION)}}
          commit-message: ${{format('{0}{1}','Update chromium to revision ', env.REVISION)}}
          title: ${{format('{0}{1}','Update chromium to revision ', env.REVISION)}}